default: &default
  adapter: postgresql
  encoding: unicode
  username: leave-backend
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: leave-backend_development
  pool: 5

ci:
  <<: *default
  database: leave-backend_test
  pool: 5
  host: leave.thoughtworks.ec

test:
  <<: *default
  database: leave-backend_test
  pool: 5

production:
  <<: *default
  database: leave-backend_production
  password: <%= ENV['LEAVE-BACKEND_DATABASE_PASSWORD'] %>
